.DS_Store
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
Assets/UnityVS/
Assets/UnityVS.meta
UnityVS.ggj2014.sln.DotSettings
*.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
